body {
  font-family: sans-serif;
}

td {
  padding: 0.2em;
}

a:link, a:visited, a:hover, a:active {
  color: black;
}

.container {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  height: 98vh;
  min-height: 0;
}

.item {
  /*background: gray;*/
  margin: 1px;
}

.leftColumn {
  width: 0px;
}

.loadingContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 98vh;
}

.loadingItem {
  font-size: 4em;
  text-align: center;
}

@media only screen and (max-width: 740px) {
  .container {
    flex-flow: column-reverse nowrap;
    justify-content: flex-end;
    align-items: center;
  }

  .leftColumn {
    width: 0px;
  }

  .middleColumn {
    width: 500px;
  }

  .rightColumn {
    text-align: right;
    width: 500px;
  }
}

@media only screen and (max-width: 500px) {
  .middleColumn img {
    width: 100%;
  }

  .middleColumn {
    width: 100%;
  }

  .rightColumn {
    width: 100%;
  }
}

